* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboardWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboardBody {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.dashboardContent {
    flex: 1;
    overflow-y: auto;
    background-color: #161616;
}

.filterBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 24px;
    background-color: #1e1e1e;
    border-bottom: 2px solid #BB000E;
    flex-wrap: wrap;
}

.filterLeft {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filterInputsRow {
    display: flex;
    align-items: center;
    gap: 16px;
}

.filterRight {
    margin-left: auto;
}

.searchInputWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.filterSearchIcon {
    position: absolute;
    left: 14px;
    color: #fff9f9;
    pointer-events: none;
    z-index: 1;
    font-size: 15px;
}

.filterSearchInput {
    background-color: #2C2C2C;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 16px 10px 40px;
    font-size: 15px;
    width: 500px;
    outline: none;
    transition: box-shadow 0.2s;
}

.filterSearchInput::placeholder {
    color: #888;
}

.filterSearchInput:focus {
    box-shadow: 0 0 0 2px #BB000E;
}

.filterSelect {
    background-color: #2C2C2C;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 36px 10px 16px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23BB000E' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    transition: box-shadow 0.2s;
    min-width: 160px;
}

.filterSelect:focus {
    box-shadow: 0 0 0 2px #BB000E;
}

.filterSelect option {
    background-color: #2C2C2C;
}

.yearGroup {
    gap: 8px;
    display: flex;
    flex-direction: row
}

.filterYearInput {
    background-color: #2C2C2C;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 15px;
    width: 90px;
    outline: none;
    text-align: center;
    transition: box-shadow 0.2s;
}

.filterYearInput:focus {
    box-shadow: 0 0 0 2px #BB000E;
}

.filterYearInput::-webkit-inner-spin-button,
.filterYearInput::-webkit-outer-spin-button {
    opacity: 0.4;
}

.yearSeparator {
    color: #BB000E;
    font-weight: bold;
    font-size: 18px;
}

.movieContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}


.loadBtn {
    display: block;
    margin: 28px auto;
    background-color: #BB000E;
    border-radius: 10px;
    padding: 10px 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.loadBtn:hover {
    background-color: #990009;
}